<form [formGroup]="formData">
  <div class="form-group">
    <label for="firstName">First Name<span class="text-danger">*</span></label>
    <input type="text" class="form-control" formControlName="firstName">
    <small *ngIf="formData.value.firstName == ''" class="text-danger">Please enter last name</small>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name<span class="text-danger">*</span></label>
    <input type="text" class="form-control" formControlName="lastName">
    <small *ngIf="formData.value.lastName == ''" class="text-danger">Please enter first name</small>
  </div>
  <p *ngIf="errorMessage != null && errorMessage != ''" class="text-danger">{{errorMessage}}</p>
  <button type="button" class="btn btn-primary float-right" [disabled]="(!formData.valid || processing == true)" (click)="onSubmit()"> Submit </button>
  <button type="button" class="btn float-right" (click)="onReset()"> Reset </button>
</form>
